<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .nav-link {
            color: white !important;
            margin-right: 4px;
        }

        .nav-link:hover {
            color: yellow !important;
            font-weight: bold;
            background-color: red;
            border-radius: 10px;
        }

        .navbar-brand:hover {
            color: yellow !important;
        }
    </style>

    <!-- datatable start -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <!-- JSZip for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- pdfmake for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });
        });
    </script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

    <!-- datatable end -->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static "images/marissa-lewis-9a1rahl70i4-unsplash.jpg" %}" width="180px" height="150px">
            </div>
            <div class="col-sm-6 mt-5 text-center">
                <span style="font-weight: bold;font-size: 30px;">
                    <span style="color:red">Online Job</span>
                    <span style="color:green">Portal</span>
                </span>
            </div>
            <div class="col-sm-3" style="padding-left:10%;padding-top: 48px;">
                <span style="font-weight: bold;font-size:30px;">
                    <span><i class="fa fa-twitter pl-1"></i></span>
                    <span><i class="fa fa-linkedin pl-1"></i></span>
                    <span><i class="fa fa-instagram pl-1"></i></span>
                    <span><i class="fa fa-telegram pl-1"></i></span>
                </span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm" style="background-color: maroon;">
        <a class="navbar-brand text-white pl-5 font-weight-bold"
            style="font-family: 'Monotype Corsiva';font-size: 30px;">Job Portal</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url "admin_home" %}" class="nav-link" style="margin-left: 280px;"><i
                        class="fa fa-home mr-1"></i>Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users mr-1"></i>Recruiters</a>
            <div class="dropdown-menu">
                <a href="{% url "recruiter_pending" %}" class="dropdown-item">Pending</a>
                <a href="{% url "recruiter_accepted" %}" class="dropdown-item">Accepted</a>
                <a href="{% url "recruiter_rejected" %}" class="dropdown-item">Rejected</a>
                <a href="{% url "recruiter_all" %}" class="dropdown-item">All Recruiters</a>
            </div>
            </li>
            <li class="nav-item">
                <a href="{% url "view_users" %}" class="nav-link"><i class="fa fa-user-o mr-1"></i>View Users</a>
            </li>
            <li class="nav-item">
                <a href="{% url "change_password_admin" %}" class="nav-link"><i class="fa fa-user-circle mr-1"></i>Change Password</a>
            </li>
            <li class="nav-item">
                <a href="{% url "Logout" %}" class="nav-link"><i class="fa fa-sign-out mr-1"></i>Logout</a>
            </li>
        </ul>
        <a class="navbar-brand text-white pl-5 font-weight-bold" style="font-family: 'Monotype Corsiva';font-size: 20px;">{{request.user.first_name}} {{request.user.last_name}}</a>
    </nav>
</body>

</html>