{% load static %}


{% block body %}

{% include "admin_navigation.html" %}

<marquee style="font-family: Corsiva;font-style: 25px;color: darkcyan;background-color: black;font-weight: bold;margin-top: 1%;">
    Change Status
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label for="username"><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="username" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">
    <label for="password"><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select>
    <input type="submit" class="btn btn-primary" style="margin-top: 2%;color: white;background-color: black;">
</form>

{% include "footer.html" %}

{% if error == "no" %}
    <script>
        alert("Status Changed Successfully!");
        window.location=('{% url "recruiter_all" %}')
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert("Something went wrong,Try Again...");
    </script>
{% endif %}

{% endblock %}