{% load static %}


{% block body %}

{% include "admin_navigation.html" %}

<style>
    tr{
        text-align: center;
    }
</style>

<marquee style="font-family: Corsiva;font-style: 25px;color: darkcyan;background-color: black;font-weight: bold;margin-top: 1%;">
    Student Users
</marquee>
<hr>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: blue; color: white;">
            <th>S.No.</th>
            <th>Full Name</th>
            <th>Email Id</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody style="background-color: #f3eeee;">
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.first_name}} {{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.gender}}</td>
            <td><img src="{{i.image.url}}" style="width: 100px;height: 100px;border-radius: 58%;"></td>
            <td><a href="{% url "delete_user" i.user.id %} " class="btn btn-danger btn-sm" onclick="return confirm('Confirm Deletion')">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}